@import vars

=flexDirCol()
  display: flex
  flex-direction: column

=flexJcSa()
  display: flex
  justify-content: space-around

=flexJcSb()
  display: flex
  justify-content: space-between

=flexJcC()
  display: flex
  justify-content: center

=flexJcE()
  display: flex
  justify-content: flex-end

=flexAiC()
  display: flex
  align-items: center

=flexSbC()
  +flexJcSb
  align-items: center

=flexCC()
  +flexJcC
  align-items: center

=flexCE()
  +flexJcC
  align-items: flex-end


=absoluteTL($top, $left)
  position: absolute
  top: $top
  left: $left

=absoluteTR($top, $right)
  position: absolute
  top: $top
  right: $right

=absoluteBL($bottom, $left)
  position: absolute
  bottom: $bottom
  left: $left

=absoluteBR($bottom, $right)
  position: absolute
  bottom: $bottom
  right: $right


=paddingRL($right, $left)
  padding-right: $right
  padding-left: $left

=paddingRLSingle($size)
  +paddingRL($size, $size)


=marginTB($top, $bottom)
  margin-top: $top
  margin-bottom: $bottom

=marginTBSingle($size)
  +marginTB($size, $size)

=marginRL($right, $left)
  margin-right: $right
  margin-left: $left

=marginRLSingle($size)
  +marginRL($size, $size)

=marginBL($bottom, $left)
  margin-bottom: $bottom
  margin-left: $left


=textCSW($color, $size, $weight)
  color: $color
  font-size: $size
  font-weight: $weight

=textCSWH($color, $size, $weight, $height)
  color: $color
  font-size: $size
  font-weight: $weight
  line-height: $height


=shadow-press()
  box-shadow: 0 0 1px 0 $shadow

=shadow-medium()
  box-shadow: 0 1px 3px 0 $shadow

=shadow-large()
  box-shadow: 0 2px 5px 0 $shadow