// размеры
$MaxWidth: 1140px
$ProductWidthS: 72px
$ProductHeightS: 96px
$ProductWidthM: 261px
$ProductHeightM: 348px

// палитра
$facebook: #4064ad
$google: #d65044
$linkedin: #0077b5
$pinterest: #e60023
$twitter: #1da1f2

$AshGrey: #b2b2b2
$BlueAlice: #e8f5fe
$DarkGray: #a4a4a4
$DarkJungleGreen: #222222
$DimGray: #6a6a6a
$Gainsboro: #dfdfdf
$GhostWhite: #f9f9f9
$Isabelline: #ebebeb
$LightCarminePink: #ef5b70
$LightGray: #d6d6d6
$Manatee: #9f9f9f
$MeatBrown: #e4af48
$OuterSpace: #4a4a4a
$PinkSmoke: #f8f3f4
$Platinum: #e8e8e8
$PlatinumHover: #efefef
$PlatinumActive: #e1e1e1
$RifleGreen: #3e3e40
$Silver: #bcbcbc
$Snow: #fbfbfb
$TaupeGray: #898989
$TrolleyGrey: #7a7a7a
$WhiteSmoke: #f6f6f6
$WildWatermelon: #f16d7f

// объекты
$background: white
$border: $Platinum
$brandMain: $WildWatermelon
$brand: $LightCarminePink
$breadcrumbs: $PinkSmoke
$placeholder: $DarkGray
$rating: $MeatBrown
$shadow: gray
$text: $DarkJungleGreen
$textDrop: $DimGray