@import vars, mixins

*
  letter-spacing: 0.03em
  box-sizing: border-box
  padding: 0
  margin: 0
  &:active
    outline: none
  &:focus
    outline: none

body
  user-select: none
  font-family: 'Lato', sans-serif

a
  text-decoration: none

button, input
  border: none
  background: none

input::placeholder,
input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder
  color: $placeholder

details > summary
  list-style: none

summary::-webkit-details-marker
  display: none

ul, li
  list-style-type: none

.button
  cursor: pointer
  height: 38px
  +textCSW(white, 15px, 400)
  background-color: $background
  border: solid 1px $border
  border-radius: 3px
  +flexCC
  padding: 11px 16px
  margin: 0 auto
  .fa
    &_right
      margin-left: 14px
    &_left
      margin-right: 14px
  &__brand
    background-color: $brandMain
    border: none
    &:hover
      filter: saturate(115%)
    &:active
      filter: saturate(85%)
  &__brand-board
    +textCSW($brandMain, 14px, 700)
    background-color: $background
    border: 1px solid $brand
    &:hover
      filter: saturate(115%)
      color: white
      background-color: $brand
      border: none
    &:active
      filter: saturate(85%)
      color: white
      background-color: $brand
      border: none
  &__silver-board
    +textCSW($OuterSpace, 14px, 700)
    text-transform: uppercase
    background-color: $background
    border: 1px solid $Platinum
    &:hover
      background-color: $PlatinumHover
      border: none
    &:active
      background-color: $PlatinumActive
      border: none

@import dropdown, header

