* {
  letter-spacing: 0.03em;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*:active {
  outline: none;
}
*:focus {
  outline: none;
}

body {
  user-select: none;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

button, input {
  border: none;
  background: none;
}

input::placeholder,
input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  color: #a4a4a4;
}

details > summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

ul, li {
  list-style-type: none;
}

.button {
  cursor: pointer;
  height: 38px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  background-color: white;
  border: solid 1px #e8e8e8;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 16px;
  margin: 0 auto;
}
.button .fa_right {
  margin-left: 14px;
}
.button .fa_left {
  margin-right: 14px;
}
.button__brand {
  background-color: #f16d7f;
  border: none;
}
.button__brand:hover {
  filter: saturate(115%);
}
.button__brand:active {
  filter: saturate(85%);
}
.button__brand-board {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  background-color: white;
  border: 1px solid #ef5b70;
}
.button__brand-board:hover {
  filter: saturate(115%);
  color: white;
  background-color: #ef5b70;
  border: none;
}
.button__brand-board:active {
  filter: saturate(85%);
  color: white;
  background-color: #ef5b70;
  border: none;
}
.button__silver-board {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid #e8e8e8;
}
.button__silver-board:hover {
  background-color: #efefef;
  border: none;
}
.button__silver-board:active {
  background-color: #e1e1e1;
  border: none;
}

.dropdown {
  z-index: 11;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 gray;
  display: none;
  position: absolute;
  padding: 12px 16px;
}
.dropdown__triangle {
  transform: rotate(45deg);
  width: 11px;
  height: 11px;
  background-color: white;
  position: absolute;
  top: -4px;
  left: 67px;
}
.dropdown__triangle_shadow {
  width: 7px;
  height: 7px;
  background-color: white;
  box-shadow: 0 0 3px 0 gray;
  left: 69px;
}
.dropdown__content {
  width: 236px;
  margin-right: 32px;
}
.dropdown__content:last-of-type {
  margin-right: 0;
}
.dropdown__break {
  display: block;
  margin-bottom: 16px;
}
.dropdown__title {
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 8px;
}
.dropdown__link {
  color: #6a6a6a;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
}
.dropdown__link:hover {
  text-decoration: underline;
}
.dropdown__link:active {
  color: #ef5b70;
  filter: saturate(85%);
}
.dropdown__offer {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 8px 0 -12px 8px;
}
.dropdown__offer:hover {
  filter: brightness(50%);
}
.dropdown__offer:hover > img {
  transform: scale(1.03, 1.03);
}
.dropdown__offer:active {
  filter: brightness(75%);
}
.dropdown__offer img {
  transition: linear 0.3s;
  width: 284px;
}
.dropdown__offer_text {
  pointer-events: none;
  max-width: 76px;
  color: white;
  font-size: 22px;
  font-weight: 900;
  line-height: 28px;
  text-transform: uppercase;
  text-shadow: 0 0 2px gray;
  position: absolute;
  bottom: 8px;
  right: 10px;
}

.header {
  min-height: 98px;
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
}
.header__container {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  position: relative;
  margin: 0 auto;
}
.header__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__image {
  pointer-events: none;
  margin-right: 12px;
}
.logo__text {
  color: #3e3e40;
  font-size: 27px;
  font-weight: 300;
  line-height: 25px;
  text-transform: uppercase;
  padding-top: 1px;
}
.logo__text_brand {
  color: #f16d7f;
  font-weight: 700;
}

.browse {
  border-radius: 3px 0 0 3px;
  position: relative;
  margin-left: 42px;
}
.browse[open] > .browse__dropdown {
  display: flex;
}
.browse[open] > .browse__summary .fa {
  transform: rotateZ(-180deg);
  color: #f16d7f;
  margin-top: 0;
}
.browse[open] > .browse__summary:active .fa {
  transform: rotateZ(-90deg);
}
.browse__summary {
  cursor: pointer;
  height: 38px;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  background-image: linear-gradient(180deg, white 0%, #f6f6f6 100%);
  border: 1px solid #e8e8e8;
  border-radius: 3px 0 0 3px;
  display: flex;
  align-items: center;
  padding: 8px 14px;
  position: relative;
}
.browse__summary:hover {
  background-image: linear-gradient(180deg, white 0%, #fbfbfb 100%);
}
.browse__summary:active > .fa {
  transform: rotateZ(-90deg);
}
.browse__summary .fa {
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  margin: 2px 0 0 10px;
}
.browse__dropdown {
  top: 48px;
}
.browse__dropdown_elem {
  margin-top: 12px;
}
.browse__dropdown_elem:first-of-type {
  margin-top: 0;
}

.search {
  background-color: white;
  display: flex;
  align-items: center;
}
.search__field {
  width: 280px;
  height: 38px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 12px;
}
.search__button {
  cursor: pointer;
  width: 38px;
  height: 38px;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  background-image: linear-gradient(180deg, white 0%, #f6f6f6 100%);
  border: 1px solid #e8e8e8;
  border-radius: 0 3px 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search__button:hover {
  background-image: linear-gradient(180deg, white 0%, #fbfbfb 100%);
}
.search__button:active {
  color: #f16d7f;
}

.h-cart {
  width: 32px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  position: relative;
  margin-right: 25px;
}
.h-cart__icon {
  overflow: hidden;
  width: 32px;
  height: 29px;
}
.h-cart__icon:hover > .cart-icon {
  stroke: #f16d7f;
  fill: white;
}
.h-cart__icon:hover > .h-cart__count {
  background-color: white;
  border: 1px solid #f16d7f;
}
.h-cart__icon:hover > .h-cart__count .h-cart__count_text {
  color: #f16d7f;
}
.h-cart__icon:active > .cart-icon {
  stroke: none;
  fill: #f16d7f;
}
.h-cart__icon:active > .h-cart__count {
  background-color: #ef5b70;
  border: none;
}
.h-cart__icon:active > .h-cart__count .h-cart__count_text {
  color: white;
}
.h-cart__count {
  overflow: hidden;
  width: 20px;
  height: 20px;
  background-color: #ef5b70;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  left: 20px;
}
.h-cart__count_text {
  color: white;
  font-size: 12px;
  font-weight: 700;
  margin-top: -1px;
}
.h-cart__dropdown {
  cursor: default;
  padding: 20px 16px;
  position: absolute;
  top: 44px;
  left: -98px;
}
.h-cart__dropdown .dropdown__triangle {
  left: 112px;
}
.h-cart__dropdown .dropdown__triangle_shadow {
  left: 114px;
}
.h-cart__total {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.h-product {
  width: 234px;
  min-height: 96px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  padding-bottom: 12px;
  margin-bottom: 16px;
}
.h-product__link {
  display: flex;
  margin-right: 8px;
}
.h-product__link:hover {
  box-shadow: 0 1px 3px 0 gray;
}
.h-product__link:hover > .h-product__image {
  filter: brightness(50%);
}
.h-product__link:active {
  box-shadow: 0 0 1px 0 gray;
}
.h-product__image {
  width: 72px;
}
.h-product__description {
  width: 142px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding: 10px 8px 10px 12px;
}
.h-product__title {
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  margin-bottom: 8px;
}
.h-product__rating {
  color: #e4af48;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 10px;
}
.h-product__size {
  color: #222222;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  margin-bottom: 6px;
}
.h-product__price {
  color: #f16d7f;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
}
.h-product__price .fa {
  margin-left: 2px;
}
.h-product__delete {
  display: flex;
  align-items: center;
}
.h-product__remove {
  cursor: pointer;
  overflow: hidden;
  height: 14px;
  color: #bcbcbc;
  font-size: 16px;
  font-weight: 400;
  border-radius: 50%;
  display: flex;
}
.h-product__remove:hover {
  color: #f16d7f;
  filter: saturate(115%);
}
.h-product__remove:active {
  color: #f16d7f;
  filter: saturate(85%);
}
.h-product__remove .fa {
  margin-top: -1px;
}

.button__checkout, .button__go-to-cart {
  width: 228px;
  height: 48px;
}
.button__checkout {
  text-transform: uppercase;
  margin: 28px auto 12px;
}
.button__account {
  padding: 11px 20px;
  margin-left: 12px;
}

.menu {
  min-height: 50px;
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
}
.menu__container {
  width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}
.menu__join {
  z-index: 22;
  box-shadow: 0 0 0 2px white;
  display: none;
  position: absolute;
  top: 49px;
  left: 0;
}
.menu__list {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3px;
  margin-top: 5px;
}
.menu__list:hover {
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 3px 0 gray;
}
.menu__list:hover .menu__join {
  display: flex;
}
.menu__list:hover .menu__dropdown {
  display: flex;
}
.menu__list_empty:hover {
  box-shadow: none;
}
.menu__link {
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  display: flex;
  margin: 13px 20px 14px;
}
.menu__link:hover {
  color: #f16d7f;
  filter: saturate(115%);
}
.menu__link:active {
  color: #f16d7f;
  filter: saturate(85%);
}
.menu__dropdown {
  padding-right: 24px;
  padding-left: 24px;
  position: absolute;
  top: 50px;
  left: 0;
}

.breadcrumbs {
  background-color: #f8f3f4;
}
.breadcrumbs__container {
  width: 1140px;
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.breadcrumbs__title {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}
.breadcrumbs__menu {
  display: flex;
  justify-content: flex-end;
}
.breadcrumbs__menu li + li:before {
  content: "/";
  color: #6a6a6a;
  font-size: 14px;
  font-weight: 300;
  margin-right: 4px;
  margin-left: 4px;
}
.breadcrumbs__link {
  cursor: pointer;
  color: #6a6a6a;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  text-transform: uppercase;
}
.breadcrumbs__link:hover {
  text-decoration: underline;
}
.breadcrumbs__link:active {
  color: #f16d7f;
  filter: saturate(85%);
}
.breadcrumbs__link_active {
  pointer-events: none;
  color: #f16d7f;
  font-weight: 700;
}
.breadcrumbs__link_active:hover {
  color: #6a6a6a;
}
.breadcrumbs__link_active:active {
  color: #6a6a6a;
}

.feedback {
  height: 438px;
  background: url(../images/banners/feedback.jpg) no-repeat center;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 98px;
}
.feedback__container {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.review {
  width: 570px;
  height: inherit;
  border-right: 1px solid #e8e8e8;
  display: flex;
  flex-wrap: wrap;
  padding: 110px 32px 110px 0;
}
.review__figure {
  display: none;
}
.review__figure_active {
  display: flex;
}
.review__photo {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin-right: 24px;
}
.review__block {
  width: 436px;
  margin-top: 4px;
}
.review__message {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 82px;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-style: italic;
}
.review__user_name {
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.review__user_city {
  color: #222222;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
}
.review__navigation {
  display: flex;
  margin-top: 40px;
  margin-left: 108px;
}
.review__switch {
  width: 38px;
  height: 4px;
  background-color: #ef5b70;
  margin-right: 10px;
}
.review__switch:last-child {
  margin-right: 0;
}
.review__switch_inactive {
  cursor: pointer;
  background-color: #d6d6d6;
}
.review__switch_inactive:hover {
  background-color: #ef5b70;
  filter: saturate(115%);
}
.review__switch_inactive:active {
  background-color: #ef5b70;
  filter: saturate(85%);
}
.review__empty {
  color: #a4a4a4;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.subscribe {
  width: 570px;
  padding: 140px 40px 110px;
}
.subscribe__title {
  color: #222222;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}
.subscribe__description {
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.subscribe__form {
  display: flex;
  justify-content: center;
}
.subscribe__input {
  width: 304px;
  height: 48px;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  background-color: #dfdfdf;
  border: none;
  border-radius: 22px 0 0 22px;
  padding-right: 10px;
  padding-left: 30px;
}
.subscribe__input:focus {
  background-color: #fde6ea;
}
.subscribe__input_enabled:focus {
  filter: hue-rotate(180deg);
}
.subscribe__button {
  cursor: pointer;
  width: 124px;
  height: 48px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  background-color: #ef5b70;
  border-radius: 0 22px 22px 0;
}
.subscribe__button_enabled:hover {
  filter: saturate(115%);
}
.subscribe__button_enabled:active {
  filter: saturate(85%);
}

.slider {
  background-color: #e8e8e8;
}
.slider__container {
  overflow: hidden;
  width: 1140px;
  height: 615px;
  position: relative;
  margin: 0 auto;
}
.slider__image {
  margin-left: -230px;
}
.slider__text {
  pointer-events: none;
  border-left: 12px solid #f16d7f;
  position: absolute;
  top: 225px;
  left: 0;
}
.slider__title {
  color: #222222;
  font-size: 60px;
  font-weight: 900;
  line-height: 45px;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-left: 12px;
}
.slider__subtitle {
  color: #222222;
  font-size: 40px;
  font-weight: 900;
  line-height: 31px;
  text-transform: uppercase;
  margin-left: 12px;
}
.slider__subtitle_brand {
  color: #f16d7f;
}

.categories {
  background-color: white;
  margin-top: 98px;
  margin-bottom: 98px;
}
.categories__container {
  width: 1140px;
  border-spacing: 20px;
  margin: 0 auto;
}
.categories__cell {
  width: 560px;
}
.categories__item {
  overflow: hidden;
  width: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.categories__item:hover {
  filter: brightness(50%);
}
.categories__item:active {
  filter: brightness(75%);
}
.categories__item:hover > .categories__image {
  transform: scale(1.03, 1.03);
}
.categories__image {
  transition: linear 0.3s;
}
.categories__title {
  pointer-events: none;
  height: 82px;
  background-color: white;
  padding: 20px 16px;
  position: absolute;
  top: 26px;
  left: 0;
}
.categories__title_h3 {
  color: #f16d7f;
  font-size: 30px;
  font-weight: 900;
  line-height: 23px;
  text-transform: uppercase;
  margin-top: 10px;
}
.categories__title_h4 {
  color: #222222;
  font-size: 18px;
  font-weight: 900;
  line-height: 14px;
  text-transform: uppercase;
}

.feature {
  background-color: #222222;
  margin-top: 98px;
  margin-bottom: 98px;
}
.feature__container {
  width: 1140px;
  min-height: 528px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.feature__banner {
  position: relative;
}
.feature__title {
  pointer-events: none;
  position: absolute;
  top: 132px;
  left: 38px;
}
.feature__title_h3 {
  max-width: 320px;
  color: white;
  font-size: 54px;
  font-weight: 700;
  line-height: 44px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.feature__title_h4 {
  max-width: 320px;
  color: white;
  font-size: 32px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}
.feature__title_brand {
  color: #f16d7f;
}
.feature__content {
  min-height: 456px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 36px auto;
}
.feature__article {
  min-height: 108px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.feature__article:last-child {
  margin-bottom: 0;
}
.feature__icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.feature__direction {
  width: 230px;
  min-height: 102px;
}
.feature__direction_h3 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 14px;
}
.feature__direction_p {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

/*# sourceMappingURL=index.css.map */
